.main-header {
  background: #ffffff;
}


.main-nav {
  display: flex;
  flex-direction: row;
}

.main-nav__wrapper {
  width: 1000px;
  margin: 0 auto;
}

.main-nav__list {
  display: flex;
  justify-content: space-between;
}

.site-list__item {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
}

.site-list__item--active {
  text-decoration: underline;
}

.site-list__decoration {
  text-decoration: none;
  color: #000000;
}

.active {
  text-decoration: underline;
}
